In [1]:
import pandas as pd

In [2]:
trips=pd.DataFrame.from_csv('test_data/trips.csv')

In [3]:
trips.head()

,hh_id,person_id,tour_id,orig_taz,dest_taz,trip_mode,tour_purpose,orig_purpose,dest_purpose,depart_hour,...,wtr_trip,dtr_trip,active,costMode,cost,cost_fail,time,time_fail,trip_cost_indiv,trip_cost_joint
1,3225901,8657901,1,6,1,7,othdiscr,othdiscr,Home,20,...,0,0,19.4,7,0.00,0,19.40,0,0.00,0
2,3167468,8505743,0,16,1,7,eatout,eatout,Home,21,...,0,0,10.2,7,0.00,0,10.20,0,0.00,0
3,3167468,8505744,0,2,1,7,othdiscr,othdiscr,Home,22,...,0,0,7.4,7,0.00,0,7.40,0,0.00,0
4,3167465,8505737,0,107,1,1,othmaint,othmaint,Home,23,...,0,0,0.0,1,43.04,0,12.11,0,43.04,0
5,3167465,8505738,0,951,1,1,work_very high,work,Home,19,...,0,0,0.0,1,683.45,0,25.53,0,683.45,0

In [4]:
var = list(trips.columns)

In [6]:
#1 - Drive alone free; 
#2 - Drive alone pay; 
#3 - Shared ride 2 free; 
#4 - Shared ride 2 pay; 
#5 - Shared ride 3+ free; 
#6 - Shared ride 3+ pay; 
#7 - Walk; 
#8 - Bike; 
#9 - Walk to local bus; 
#10 - Walk to light rail or ferry; 
#11 - Walk to express bus; 
#12 - Walk to BART; 
#13 - Walk to commuter rail; 
#14 - Drive to local bus; 
#15 - Drive to light rail or ferry; 
#16 - Drive to express bus; 
#17 - Drive to BART; 
#18 - Drive to commuter rail
trips['trip_mode'].unique()

array([  7.,   1.,   3.,   9.,   5.,  10.,  12.,  11.,   8.,  14.,  13.,
         4.,  17.,   2.,  18.,  15.,  16.,  nan])

In [9]:
trips_bart = trips[(trips['trip_mode'] == 12) | (trips['trip_mode'] == 17)]

In [20]:
# auxiliary mode
#1	walk access connector	Walk from centroid to auxiliary rail node/bus stop
#2	drive access connector	Drive from centroid to drive auxiliary node
#3	stop-to-stop or stop-to-station transfer link	Walk transfer link between transit stops
#4	drive access funnel link	Transfer between drive auxiliary node and station platform node
#5	walk access funnel link	Transfer between walk auxiliary node and station platform node
#6	walk egress connector	Walk from auxiliary rail node/bus stop to centroid
#7	drive egress connector	Drive from auxiliary node to centroid
# 3 is transfer
# 4 is driving access
# 5 is walking access
trips_bart['amode'].unique()

array([ 3.,  5.,  4.])

In [25]:
#probably don't need to worry about this
trips_bart['costMode'].unique()

array([  9.,  11.,  10.])

In [28]:
(trips_bart['cost'].sum())*251.99/180.2

72564041.64772476