In [1]:
import pandas as pd

In [ ]:
# toll class >12 all value toll (HOT lanes)
# XXT meas willing to pay value toll, not necessarily pay if it does not exist correct?

In [3]:
# test data is AM only
load = pd.DataFrame.from_csv('test_data/LoadedHighway_Fare.csv')
load.reset_index(drop=True,inplace=True)

In [5]:
load.head()

,A,B,DISTANCE,SPDCLASS,CAPCLASS,LANES,TSIN,GL,USE,OT,...,VOLT_DA,VOLT_S2,VOLT_S3,VOLT_SM,VOLT_HV,VOLT_DAT,VOLT_S2T,VOLT_S3T,VOLT_SMT,VOLT_HVT
0,1,7487,0.05201,6,6,7,1,1,1,0.17337,...,1799.45581,225.49336,120.30231,518.76355,102.39098,34.50405,4.88058,0,6.48032,0
1,1,7489,0.04758,6,6,7,1,1,1,0.15860,...,888.10297,402.70639,240.12395,265.88324,43.53552,60.17905,23.63567,0,5.93069,0
2,2,7496,0.06356,6,6,7,1,1,1,0.21187,...,1112.16333,640.49030,399.05765,451.72116,73.73388,72.14450,41.95911,0,10.65161,0
3,2,7500,0.05204,6,6,7,1,1,1,0.17347,...,3263.00537,343.76221,225.27765,745.93463,152.05202,51.77525,0.07324,0,7.91159,0
4,3,7483,0.12645,6,6,7,1,1,1,0.42150,...,313.39093,70.63329,28.50105,34.58564,5.85082,0.09533,0.00216,0,0.03485,0

In [9]:
var = list(load.columns)
var

['A',
 'B',
 'DISTANCE',
 'SPDCLASS',
 'CAPCLASS',
 'LANES',
 'TSIN',
 'GL',
 'USE',
 'OT',
 'CAP',
 'AT',
 'FT',
 'SIGCOR',
 'TOS',
 'AUX',
 'YEAR',
 'FFS',
 'FFT',
 'FT2000',
 'ROUTENUM',
 'HOT',
 'TOLLCLASS',
 'STATE',
 'CITYID',
 'CITYNAME',
 'REGFREIGHT',
 'BRT',
 'TOLLEA_DA',
 'TOLLEA_S2',
 'TOLLEA_S3',
 'TOLLEA_VSM',
 'TOLLEA_SML',
 'TOLLEA_MED',
 'TOLLEA_LRG',
 'TOLLAM_DA',
 'TOLLAM_S2',
 'TOLLAM_S3',
 'TOLLAM_VSM',
 'TOLLAM_SML',
 'TOLLAM_MED',
 'TOLLAM_LRG',
 'TOLLMD_DA',
 'TOLLMD_S2',
 'TOLLMD_S3',
 'TOLLMD_VSM',
 'TOLLMD_SML',
 'TOLLMD_MED',
 'TOLLMD_LRG',
 'TOLLPM_DA',
 'TOLLPM_S2',
 'TOLLPM_S3',
 'TOLLPM_VSM',
 'TOLLPM_SML',
 'TOLLPM_MED',
 'TOLLPM_LRG',
 'TOLLEV_DA',
 'TOLLEV_S2',
 'TOLLEV_S3',
 'TOLLEV_VSM',
 'TOLLEV_SML',
 'TOLLEV_MED',
 'TOLLEV_LRG',
 'HOVXPEN',
 'CTIM',
 'PNROK',
 'AUTOOPC_PE',
 'SMTROPC_PE',
 'LRTROPC_PE',
 'BUSOPC_PER',
 'AUTO_RM_AD',
 'AUTO_FU_AD',
 'SMTR_RM_AD',
 'LRTR_RM_AD',
 'AUTOOPC',
 'SMTROPC',
 'LRTROPC',
 'BUSOPC',
 'SMTR_FU_AD',
 'LRTR_FU_AD',
 'BUS_RM_ADJ',
 'BUS_FU_ADJ',
 'AUTOOPC_PA',
 'SMTROPC_PA',
 'LRTROPC_PA',
 'BUSOPC_PAV',
 'VOL',
 'VC',
 'CSPD',
 'VDT',
 'VHT',
 'VOL_DA',
 'VOL_S2',
 'VOL_S3',
 'VOL_SM',
 'VOL_HV',
 'VOL_DAT',
 'VOL_S2T',
 'VOL_S3T',
 'VOL_SMT',
 'VOL_HVT',
 'VOLT',
 'VOLT_DA',
 'VOLT_S2',
 'VOLT_S3',
 'VOLT_SM',
 'VOLT_HV',
 'VOLT_DAT',
 'VOLT_S2T',
 'VOLT_S3T',
 'VOLT_SMT',
 'VOLT_HVT']

In [10]:
load[['TOLLAM_DA','TOLLAM_S2','TOLLAM_S3','TOLLAM_VSM','TOLLAM_SML','TOLLAM_MED','TOLLAM_LRG']].head()

,TOLLAM_DA,TOLLAM_S2,TOLLAM_S3,TOLLAM_VSM,TOLLAM_SML,TOLLAM_MED,TOLLAM_LRG
0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0

In [ ]:
[['VOL_DA','VOL_S2','VOL_S3','VOL_SM','VOL_HV','VOL_DAT','VOL_S2T','VOL_S3T','VOL_SMT','VOL_HVT']]

In [15]:
load[(load['TOLLCLASS'] == 5) & (load['VOL_DAT'] !=0)][['HOT','VOL_DA','VOL_S2','VOL_S3','VOL_SM','VOL_HV','VOL_DAT','VOL_S2T','VOL_S3T','VOL_SMT','VOL_HVT']]

,HOT,VOL_DA,VOL_S2,VOL_S3,VOL_SM,VOL_HV,VOL_DAT,VOL_S2T,VOL_S3T,VOL_SMT,VOL_HVT
6452,0,31486.45898,4781.13086,29.00303,687.75305,334.97971,2573.79761,1243.36377,0,144.66437,0

In [18]:
load[(load['HOT']==0) & (load['VOL_DAT'] !=0)][['VOL_DA','VOL_DAT','TOLLCLASS']]

            VOL_DA     VOL_DAT  TOLLCLASS
0        408.04550     0.65251          0
1        136.81099     0.00749          0
6        362.43063     0.00300          0
8        247.95889     1.31700          0
9        680.76001     0.72428          0
10       585.03650     0.39127          0
16       391.71536     0.00761          0
17       329.79568     1.76794          0
18       638.89197     0.01721          0
21       742.02289     7.34279          0
22       875.55109     1.75236          0
24       411.82312     0.02319          0
30       247.20309     3.35000          0
34       316.75354     0.00761          0
35       174.16406     1.76794          0
37       313.38824     3.09555          0
40       896.16052     0.61678          0
41       181.88541     0.70322          0
44       368.10358     0.02371          0
45       534.01086     2.20739          0
47       984.06238     4.67000          0
51       442.84280     0.66000          0
53       731.66345     1.32000          0
55       427.34738     1.32000          0
59       493.75946     1.11555          0
70       332.81833     2.43555          0
74       509.92068     2.23445          0
81       455.61774     0.62451          0
82       348.02222     0.03549          0
83       348.29892     0.66000          0
...            ...         ...        ...
33394   2486.04907   244.07475          0
33395  13214.83594  4278.05930          0
33398  16440.38672   358.24286          0
33401  13214.83594  4278.05930          0
33403  16440.38672   358.24286          0
33409     67.04015     0.07361          0
33410    128.62531     0.04049          0
33411    377.48056     0.66000          0
33412   3061.01733     5.93779          0
33413   1547.09485     0.01430          0
33414    853.89673     8.94198          0
33415    700.33752     8.82788          0
33416    166.91255     0.11410          0
33417    877.77289     0.66000          0
33442   6514.73828   674.24536          0
33444   4321.02637  1338.25110          0
33457    376.94116     6.91435          0
33458   1026.96057   639.42590          0
33460    121.32260     3.43290          0
33461   2412.27563    31.59978          0
33463   1209.88892   467.84012          0
33484    489.20096    22.90220          0
33485   1019.09827    21.82555          0
33487    135.09270    21.11646          0
33489    135.09270    21.11646          0
33491    135.09270    21.11646         10
33492  31351.36719  2552.68091          0
33493  33996.38672  2552.68091          0
33494  22878.91797   251.85406          0
33496  22878.91797   251.85406          0

[23513 rows x 3 columns]