In [1]:
import pandas as pd

In [2]:
# Read BART.far data into DataFrame
df = pd.read_table('BART.far', header=None, names=['node_from', 'node_to', 
                                                  'fare', ';', 'name_from', 'name_to'])
df = df.drop(';', axis=1)
df.name_from = df.name_from.str.replace(" to", "")

In [3]:
# get unique node number and name:
lookup = {}
for x in list(set(list(df[['node_from','name_from']].apply(lambda x: str(x[0]) + '@' + x[1], axis=1).unique()) + list(df[['node_to','name_to']].apply(lambda x: str(x[0]) + '@' + x[1], axis=1).unique()))):
    lookup[x.split('@')[1]] = int(x.split('@')[0])

lookup['Ballpark'] = 18001
lookup['2nd/Mission'] = 18002
lookup['Union Square'] = 18003
lookup['Van Ness'] = 18004
lookup['Fillmore'] = 18005
lookup['Jack London Square'] = 18006

TypeError: ("Can't convert 'float' object to str implicitly", 'occurred at index 1378')

In [16]:
# df_new = pd.DataFrame.from_csv('BART_TestRunNewStationFare.csv')
# df_new['node_from'] = df_new.index
# df_new.reset_index(drop=True,inplace=True)
# df_new = df_new[['node_from','node_to','fare','name_from','name_to']]
# df_new.head()

   node_from  node_to  fare name_from          name_to
0      18006    18001   217       JLS         BALLPARK
1      18006    18002   217       JLS  2ND AND MISSION
2      18006    18003   217       JLS     UNION SQUARE
3      18006    18004   217       JLS          VANNESS
4      18006    18005   217       JLS         FILLMORE

In [17]:
# df_new['name_from'] = df_new['name_from'].str.replace('FRUITVALE', 'Fruitvale')
# df_new['name_to'] = df_new['name_to'].str.replace('FRUITVALE', 'Fruitvale')
# df_new['name_from'] = df_new['name_from'].str.replace('12OAK', '12th St Oakland City Center')
# df_new['name_to'] = df_new['name_to'].str.replace('12OAK', '12th St Oakland City Center')
# df_new

    node_from  node_to  fare        name_from                      name_to
0       18006    18001   217              JLS                     BALLPARK
1       18006    18002   217              JLS              2ND AND MISSION
2       18006    18003   217              JLS                 UNION SQUARE
3       18006    18004   217              JLS                      VANNESS
4       18006    18005   217              JLS                     FILLMORE
5       18006    15533   129              JLS                    Fruitvale
6       18006    15509   129              JLS  12th St Oakland City Center
7       18001    18002   129         BALLPARK              2ND AND MISSION
8       18001    18003   129         BALLPARK                 UNION SQUARE
9       18001    18004   129         BALLPARK                      VANNESS
10      18001    18005   129         BALLPARK                     FILLMORE
11      18001    15533   346         BALLPARK                    Fruitvale
12      18001    15509   346         BALLPARK  12th St Oakland City Center
13      18002    18003   129  2ND AND MISSION                 UNION SQUARE
14      18002    18004   129  2ND AND MISSION                      VANNESS
15      18002    18005   129  2ND AND MISSION                     FILLMORE
16      18002    15533   346  2ND AND MISSION                    Fruitvale
17      18002    15509   346  2ND AND MISSION  12th St Oakland City Center
18      18003    18004   129     UNION SQUARE                      VANNESS
19      18003    18005   129     UNION SQUARE                     FILLMORE
20      18003    15533   346     UNION SQUARE                    Fruitvale
21      18003    15509   346     UNION SQUARE  12th St Oakland City Center
22      18004    18005   129          VANNESS                     FILLMORE
23      18004    15533   346          VANNESS                    Fruitvale
24      18004    15509   346          VANNESS  12th St Oakland City Center
25      18005    15533   346         FILLMORE                    Fruitvale
26      18005    15509   346         FILLMORE  12th St Oakland City Center
27      15533    15509   346        Fruitvale  12th St Oakland City Center

In [22]:
# Make DataFrame of new nodes with additive fares to each proxy station. 
# We will take fares from each proxy station to each other station in the BART network,
# Add the fare from the new station of interest (e.g. fare from Ballpark to Fruitvale)
# And find the minimum fare to each other station in the network

# Set additive fares below:

new_nodes = {
    'name':['Ballpark', '2nd/Mission', 'Union Square', 'Van Ness', 'Fillmore', 'Jack London Square'],
    'Fruitvale':[346, 346, 346, 346, 346, 129],
    '12th St Oakland City Center': [346, 346, 346, 346, 346, 129]
}
testnodes = pd.DataFrame(new_nodes)
testnodes.set_index('name', inplace=True)

In [23]:
testnodes

                    12th St Oakland City Center  Fruitvale
name
Ballpark                                    346        346
2nd/Mission                                 346        346
Union Square                                346        346
Van Ness                                    346        346
Fillmore                                    346        346
Jack London Square                          129        129

In [4]:
def get_fares_from(df, name, add_fare):
    """
    This function gets all the fares from one station to every other in the original fare table.
    
    df : pandas DataFrame
        The original fare table
    name : str
        The name of the station that you want to get fares from
    add_fare : int
        Additional fare to add to each value in the existing fare table
        
    Returns a pandas Series of stations and fares
    """
    station = df.loc[(df.name_from == name) | (df.name_to == name)]
    station['destination'] = ''
    station.loc[station.name_from != name, 'destination'] = station.loc[station.name_from != name, 'name_from']
    station.loc[station.name_to != name, 'destination'] = station.loc[station.name_to != name, 'name_to']
    station.set_index('destination', inplace=True)
    
    series = pd.Series(data=(station.fare + add_fare), name=name)
    
    return series

In [5]:
fruitvale = get_fares_from(df, 'Fruitvale', 20)
fruitvale

/Users/yiyange/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/yiyange/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

destination
Dublin/ Pleasanton               300
West Dublin/Pleasanton           289
Castro Valley                    212
Fremont                          303
Union City                       279
South Hayward                    244
Hayward                          212
Bay Fair                         184
San Leandro                      149
Coliseum/Oakland Airport         149
Lake Merritt                     149
Richmond                         237
El Cerrito Del Norte             223
El Cerrito Plaza                 205
North Berkeley                   184
Berkeley                         174
Ashby                            163
Pittsburg/ Bay Point             352
North Concord                    317
Concord                          303
Pleasant Hill                    275
Walnut Creek                     268
Lafayette                        244
Orinda                           205
Rockridge                        153
MacArthur                        149
19th St Oakland                  149
12th St Oakland City Center      149
West Oakland                     149
Embarcadero                      282
Montgomery                       282
Powell                           282
Civic Center                     282
16th St Mission                  293
24th St Mission                  300
Glen Park                        310
Balboa Park                      317
Daly City                        324
Colma                            321
South San Francisco              335
San Bruno                        352
SFO                              664
Millbrae                         373
Oakland International Airport    569
Warm Springs                     335
Milpitas                         345
Berryessa                        356
Alum Rock                        405
Downtown San Jose                419
Diridon-Caltrain                 419
Santa Clara                      433
Irvington                        321
Name: Fruitvale, dtype: float64

In [28]:
ballpark = testnodes.loc['Ballpark']
ballpark

12th St Oakland City Center    346
Fruitvale                      346
Name: Ballpark, dtype: int64

In [29]:
def min_fare(series, fare_df):
    """
    Returns minimum fare to each station based on a series where index is the proxy station
    that we calculate all fares from, and value is the additive fare (e.g. from new stop to
    existing proxy station)
    """
    ser = pd.Series()
    for index, value in series.iteritems():
        fares = get_fares_from(df, index, value)
        ser = pd.concat([ser, fares], axis=1)

    fare = ser.min(axis=1)
    return fare

In [30]:
def get_all_fares(node_df, fare_df, output_df):
    """
    Takes in DataFrame of new nodes, with new station names as index, and proxy stations as columns,
    with additive fares to proxy stations as values in each column. Returns DataFrame in similar format to 
    original data. Need to add node IDs.
    """
    
    for index, row in node_df.iterrows():
        results = pd.DataFrame(min_fare(row, fare_df))
        results.reset_index(inplace=True)
        results.columns = ['name_to', 'fare']
        results['name_from'] = index
        output_df = pd.concat([output_df,results], axis = 0)
        
    return output_df

In [34]:
output_df = pd.DataFrame(columns=['name_from', 'name_to', 'fare'])
output = get_all_fares(testnodes, df, output_df)

/Users/yiyange/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/yiyange/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [40]:
output['node_from'] = output['name_from'].apply(lambda x: lookup[x])
output['node_to'] = output['name_to'].apply(lambda x: lookup[x])
output

,fare,name_from,name_to,node_from,node_to
0,475,Ballpark,12th St Oakland City Center,18001,15509
1,591,Ballpark,16th St Mission,18001,15515
2,475,Ballpark,19th St Oakland,18001,15508
3,598,Ballpark,24th St Mission,18001,15516
4,731,Ballpark,Alum Rock,18001,14204
5,475,Ballpark,Ashby,18001,15525
6,622,Ballpark,Balboa Park,18001,15518
7,510,Ballpark,Bay Fair,18001,15530
8,475,Ballpark,Berkeley,18001,15523
9,682,Ballpark,Berryessa,18001,14203
10,538,Ballpark,Castro Valley,18001,15537
11,577,Ballpark,Civic Center,18001,15514
12,475,Ballpark,Coliseum/Oakland Airport,18001,15532
13,629,Ballpark,Colma,18001,15539
14,619,Ballpark,Concord,18001,15501
15,633,Ballpark,Daly City,18001,15519
16,745,Ballpark,Diridon-Caltrain,18001,14207
17,745,Ballpark,Downtown San Jose,18001,14206
18,626,Ballpark,Dublin/ Pleasanton,18001,15538
19,517,Ballpark,El Cerrito Del Norte,18001,15521
20,500,Ballpark,El Cerrito Plaza,18001,15522
21,577,Ballpark,Embarcadero,18001,15511
22,629,Ballpark,Fremont,18001,15526
23,475,Ballpark,Fruitvale,18001,15533
24,615,Ballpark,Glen Park,18001,15517
25,538,Ballpark,Hayward,18001,15529
26,647,Ballpark,Irvington,18001,15549
27,552,Ballpark,Lafayette,18001,15504
28,475,Ballpark,Lake Merritt,18001,15534
29,475,Ballpark,MacArthur,18001,15507
...,...,...,...,...,...
23,258,Jack London Square,Fruitvale,18006,15533
24,398,Jack London Square,Glen Park,18006,15517
25,321,Jack London Square,Hayward,18006,15529
26,430,Jack London Square,Irvington,18006,15549
27,335,Jack London Square,Lafayette,18006,15504
28,258,Jack London Square,Lake Merritt,18006,15534
29,258,Jack London Square,MacArthur,18006,15507
30,465,Jack London Square,Millbrae,18006,15543
31,454,Jack London Square,Milpitas,18006,14202
32,360,Jack London Square,Montgomery,18006,15512
33,262,Jack London Square,North Berkeley,18006,15524
34,416,Jack London Square,North Concord,18006,15535
35,678,Jack London Square,Oakland International Airport,18006,15000
36,293,Jack London Square,Orinda,18006,15505
37,451,Jack London Square,Pittsburg/ Bay Point,18006,15536
38,377,Jack London Square,Pleasant Hill,18006,15502
39,360,Jack London Square,Powell,18006,15513
40,325,Jack London Square,Richmond,18006,15520
41,258,Jack London Square,Rockridge,18006,15506
42,755,Jack London Square,SFO,18006,15542
43,444,Jack London Square,San Bruno,18006,15541
44,258,Jack London Square,San Leandro,18006,15531
45,542,Jack London Square,Santa Clara,18006,14208
46,353,Jack London Square,South Hayward,18006,15528
47,426,Jack London Square,South San Francisco,18006,15540
48,388,Jack London Square,Union City,18006,15527
49,367,Jack London Square,Walnut Creek,18006,15503
50,444,Jack London Square,Warm Springs,18006,15544
51,398,Jack London Square,West Dublin/Pleasanton,18006,15545
52,258,Jack London Square,West Oakland,18006,15510

In [41]:
output = output[['node_from','node_to','fare', 'name_from', 'name_to']]

In [43]:
output.to_csv('NewFare.csv')